<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<h1>환영합니다!</h1>

<div>
    <strong>사용자 ID:</strong> <span th:text="${userId}"></span><br>
    <strong>이메일:</strong> <span th:text="${email}"></span><br>
    <strong>상점 이름:</strong> <span th:text="${storeName}"></span><br>
    <strong>롤:</strong> <span th:text="${role}"></span><br>
</div>
<strong>정보:</strong> <span th:text="${authDetails}"></span><br>
</body>
</html>
